@model Domain.Organization.Shiping


@{
    ViewBag.Title = "Order";
}

<h2>Contact information</h2>
<p>Please, enter your details</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div class="form-group">
        <label>Please enter a name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Please enter address:</label>
        @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Order" />
    </div>
}

